/* Stile generico per l'intera pagina */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 2%;
}
/* Stile per il filtro a discesa */
.filter {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom: 0px solid #ccc;
}

.filter select {
  padding: 5px;
  font-size: 1em;
  border: 1px solid black;
  border-radius: 3px;
}

/* Stile per la lista degli articoli */
.item-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  border: 1px solid black; 
}

.item {
  margin: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
}

.item .name {
  flex: 1;
  font-size: 1em;
}

.item button {
  border: none;
  background-color: transparent;
  color: black;
  font-size: 1.2em;
  cursor: pointer;
}

.item button:hover {
  color: red;
}

header {
  background-color: #6A1B9A;
  color: white;            
  text-align: center;      
  padding: 15px 0;        
  font-size: 24px;        
  font-weight: bold;        
  border-radius: 8px 8px 0 0;
  border: 1px solid black;
}
header h1 {
  padding:8px;
}

.input-item {
  display: flex;            
  justify-content: space-between;
  padding: 10px ;              
  margin: 20px 0; 
  border: 1px solid black;             
}

.input-item [type="text"] {
  flex-grow: 1;                
  padding: 10px;              
  font-size: 16px;          
  border: 1px solid #ccc;      
  border-radius: 4px;          
  margin-right: 10px;          
}

.input-item button {
  background-color: #6A1B9A;    
  color: white;                
  border: none;                
  padding: 10px 15px;          
  font-size: 16px;            
  border-radius: 4px;          
  cursor: pointer;              
}

.input-item button:hover {
  background-color: #5A0E8A;    
}

.item span {
  flex-grow: 1;
}




